/* SM */
@media all and (min-width: 576) {
    #jumbo .card_wrapper {
    margin: 0 15px;  
    }

    #it_takes_two .card_wrapper {
        margin: 0 15px;  
        }

     .col_bg {
         display: none;
     }  

    #ps_now .col_bg {
        display: none;
    }
    
}

/* MD */
@media all and (min-width: 768px) {
    #jumbo .card_wrapper {
        width: 80%;
        margin: 0 25px;
    }

    #jumbo .jumbo_thumb_wrapper {
        max-width: 165px;
        margin: 0 25px;
    }

    #it_takes_two .card_wrapper {
        width: 80%;
        margin: 0 25px;
    }

    #ps_plus .card_wrapper {
        width: 50%;
    }

    #sconti img {
        max-width: 200px;
        
    
    
    }

    #social img {
        max-width: 100px;
        transition: transform 0.5s ease;
        
    
    
    }

    

}

/* LG */
@media all and (min-width: 992px) {
#jumbo .card_wrapper {
        width: 33.33%;
    }

    #ps4 .card_wrapper {
        color: black;
        width: 50%;  
    }

    #it_takes_two .card_wrapper {
        width: 33.33%;
        
    }

    
}